@inherits LayoutComponentBase

<div class="main lb">
    <div class="top-row  navbar">
        <a class="navbar-brand text-white" href="">Motorize</a>
        @* <Dropdown Direction="@Direction.Left">
            <DropdownToggle Color="Color.Primary">
                Menu
            </DropdownToggle>
            <DropdownMenu>
                <DropdownItem>Réinitialiser</DropdownItem>
                <DropdownItem>Enregistrer sous</DropdownItem>
                <DropdownItem>Imprimer</DropdownItem>
                <DropdownDivider />
                <DropdownItem>Aide</DropdownItem>
            </DropdownMenu>
        </Dropdown> *@
    </div>

    <div class="content px-4 pb-4">
        @Body
    </div>
</div>
