@inherits LayoutComponentBase

<div class="main lb" style="background-size: cover;">
    <div class="top-row  navbar">
        <a class="navbar-brand text-white" href="">CAECOCADYN AUTO</a>
    </div>

    <div class="content px-4 pb-4">
        @Body
    </div>
</div>
