@page "/"
@inject NavigationManager NavigationManager
<div class="row align-items-center">
    <div class="col-4 p-0 pb-2 m-auto">
        <h2 class="w-100 text-center">CAECCODYN AUTO</h2>
        <TextEdit PlaceHolder="Nom d'utilisateur" Class="mb-3" @bind-Text="@username">
        </TextEdit>

        <TextEdit PlaceHolder="Mot de passe" Class="mb-3" Role="TextRole.Password" @bind-Text="@pwd">
        </TextEdit>
        <Button class="btn-success w-100" Clicked="@SignIn">Connexion</Button>
    </div>
</div>

@code{
    string username;
    string pwd;
    void SignIn()
    {
        if (username == "admin" && pwd == "admin")
        {
            NavigationManager.NavigateTo("dash");
        }
    }
}